<ul id="rtp-nav-menu" class="menu rtp-nav-container clearfix">
    <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if (eq url to="/")}}current-menu-item current_page_item{{/if}}">
        <a href="/">Zed</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if (eq url to="/vision")}}current-menu-item current_page_item{{/if}}">
        <a href="/vision">Why Zed?</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if (eq url to="/download")}}current-menu-item current_page_item{{/if}}">
        <a href="/download">Download</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if (eq url to="/buy")}}current-menu-item current_page_item{{/if}}">
        <a href="/buy">Donate</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children {{#if (eq url to="/features")}}current-menu-item current_page_item{{/if}}">
        <a href="/features">Features</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page {{#if (eq url to="/features/edit-remote-files")}}current-menu-item current_page_item{{/if}}">
                <a href="/features/edit-remote-files">Edit Remote Files</a>
            </li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="https://groups.google.com/forum/#!forum/zed-user">Google Group</a>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="https://github.com/zedapp/zed">Github</a>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="http://twitter.com/ZedEditor">Twitter</a>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="http://webchat.freenode.net/?channels=##zedapp">IRC</a>
    </li>
</ul>
